<table data-test-id="<%= to_test_id "cart table" %>">
  <%= render partial: "line_items/view_line_item", collection: @cart.line_items, as: :line_item %>
  <%= render partial: "carts/cart_total", locals: {cart: cart} %>
</table>
