<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Your Cart</h2>

<% if @cart.empty? %>
  <div>
    Your cart is empty, go add some items.
  </div>
<% end %>

<table>
  <tr>
    <th>Quantity</th>
    <th>Title</th>
  </tr>
  <%= form_for @cart, method: :put do |cart_form| %>
    <%= render partial: "line_items/edit_line_item", collection: @cart.line_items, as: :item, locals: {parent_form: cart_form} %>

    <tr>
      <td colspan="4"><hr /></td>
    </tr>

    <%= render partial: "carts/cart_total", locals: {cart: @cart} %>

    <tr>
      <td><%= cart_form.submit("Update cart") unless @cart.empty? %></td>
    </tr>
  <% end %>
</table>
