<tr>
  <%= parent_form.fields_for "line_items", item do |line_form| %>
    <td><%= line_form.text_field :quantity, 'data-test-id': to_test_id(item.title + '-quantity') %> &times;</td>
    <td><%= line_form.label :line_item, "#{item.title}" %></td>
    <td class="item_price"><%= number_to_currency(item.total_price) %></td>
    <td><%= link_to 'Remove all', item, method: :delete, class: :button %></td>
  <% end %>
</tr>
<br />

