<% if line_item == @current_item %>
  <tr id="current_item" data-test-id="<%= to_test_id(line_item.product.title) %>" >
<% else %>
  <tr data-test-id="<%= to_test_id(line_item.product.title) %>" >
<% end %>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title  %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
  <td><%= button_to 'Remove', line_item, method: :delete, data: { confirm: "Are you sure?"} %>
</tr>
