<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<% if session[:store_count] %>
  <p>Count: <%= pluralize(session[:store_count], 'visit') %></p>
<% end %>
<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry" data-test-id=<%= to_test_id(product.title) %>>
        <%= link_to line_items_path(product_id: product), method: :post, remote: true do %>
          <%= image_tag(product.image_url) %>
        <% end %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency product.price %></span>
          <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
