<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Cools Online Store</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= controller.controller_name %>'>

    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>

    <div id="columns">
        <div id="side">
        <% if current_cart %>
          <%= hidden_div_if current_cart.empty?, id: "cart" do %>
            <%= render partial: "carts/sidebar_cart", locals: { cart: @cart }%>
          <% end %>
h       <% end %>

        <ul>
          <li><a href="<%= store_url %>">Home</a></li>
          <% if current_cart %>
            <li><a href="<%= cart_path(current_cart) %>">Your Cart</li>
          <% end %>
          <li><a href="http://www..../faq">Questions</a></li>
          <li><a href="http://www..../news">News</a></li>
          <li><a href="http://www..../contact">Contact</a></li>
          <li class="date"><%= DateTime.now.to_s %></li>
        </ul>
      </div>

      <div id="main">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
